.Rproj.user
.Rhistory
.RData
.Ruserdata

# Include www/Listing and www/doc directories
!www/Listing/
!www/doc/

# Exclude all files and subdirectories inside www/Listing and www/doc
www/Listing/**/*.*
www/doc/**/*

# Allow .gitkeep files to ensure directories are tracked
!www/Listing/**/.gitkeep
