.Rproj.user
.Rhistory
.RData
.Ruserdata
# Include all subdirectories under Listing/
!www/Listing/
!www/doc/
# Exclude all files (of any type) in Listing/ and its subdirectories
www/Listing/**/*.*
www/doc/**/*.*
